*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #fff;
    --bg-url: url('../images/bg-mobile.jpg');
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --social-color-hover: rgba(255, 255, 255, 0.2);
    --switch-bg: url('../images/MoonStars.svg');
}

.light{
    --text-color: #000;
    --bg-url: url('../images/bg-mobile-light.jpg');
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --social-color-hover: rgba(0, 0, 0, 0.1);
    --switch-bg: url('../images/Sun.svg');
}

body{
    /* background-image: url('../images/bg-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
 */
 background: var(--bg-url) no-repeat top center/cover;
 height: 100vh;
   
}

body *{

    font-family: "Inter", sans-serif;
    color: var(--text-color);
}


#container{
    width: 100%;
    max-width: 588px;
    height: 720px;
    margin: 56px auto 0px;
    padding: 0 24px;

}

#profile{
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 112px;

}

#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}
/* Switch */

#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
    cursor: pointer;
}
#switch button{
    background: white var(--switch-bg) no-repeat center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    animation: slideOut 0.3s forwards;
}

#switch button:hover{
    outline: 8px solid var(--surface-color);

}
.light #switch button{
    left: initial;
    right: 0;
    animation: slideIn 0.3s forwards;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}


/* Links */



ul#links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px;
}

#links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 8px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    font-weight: 500;
    text-decoration: none;
    transition: background 0.3s;
    gap: 8px;
  
}


#links li a:hover{
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#social-links{
    display: flex;
    justify-content: center;
    padding: 24px 0px;
    font-size: 24px;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;

    transition: background 0.3s;
}

#social-links a:hover{
    background: var(--social-color-hover);
}


footer{
    text-align: center;
    padding: 24px 0px;
    font-size: 14px;
}

/* Animations */

@keyframes slideIn{
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}

@keyframes slideOut{
    from{
        left: 50%;
    }
    to{
        left: 0;

    }
}
/* Media Queries */

@media screen and (min-width: 700px){
   
    :root{
        --bg-url: url('../images/bg-desktop.jpg');
    }

    .light{
        --bg-url: url('../images/bg-desktop-light.jpg');
    }
}